node_modules/**/*
backend/node_modules/**/*
backend/.env
backend/example.http
backend/service-account.json
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.env
.env.production 

# macOS
.DS_Store
